/* task 1 */
/* p {
	font: 25px/50px "Times New Roman";
    width: 1120px;
} */

/* task 2 */
/* p {
	width: 300px;
	color: red;
	font: bold 40px Arial;
} */

/* task 3 */
/* p {
	text-indent: 50px;
    font: italic bold 40px/60px Arial;
} */