body{
    width: 500px;
}

h1 {
    color: blue;
    text-align: center;
    font: bold 40px "Times New Roman";
}

h2 {
    color: green;
    text-align: center;
    font: 30px/50px "Times New Roman";
}
p {
    text-indent: 50px;
    text-align: justify;
    font: 17px/26px Arial;
}
ul {
    text-align: justify;
}