h1 {
    text-align: right;
	color: green;
}

h2 {
  width: 300px;
  text-align: center;
    color:blue;
}

h3{
    color: red;
}

h4{
    color: rgb(88, 23, 94)
}

p {
  text-align: justify;
    width: 300px;
    color: orange;
}

table {
  width: 500px;
}

th {
  text-align: left;
}

td {
  text-align: center;
}